table {
  width: 98%;
  border: 1px solid #000000;
  margin: 15px;
}
table th,
tr {
  font-size: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table th {
  font-size: 14px;
  text-transform: uppercase;
}
.tableHeading {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.describe {
  text-align: left;
  padding-top: 15px;
}
table tr td:last-child {
  width: 100px;
}
table tr td:first-child {
  width: 100px;
}
table tr td:nth-child(4n) {
  visibility: hidden;
}
@media screen and (min-width: 1024px) {
  table tr td:nth-child(4n) {
    visibility: visible;
  }
}
