.mainBanner {
  float: left;
  width: 100%;
  margin: 20px 0 0 0;
}
.carouselCaption {
  bottom: unset;
  top: 30px;
  color: #000000;
  z-index: 0;
}
.bannerSubtitle {
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1.57;
  letter-spacing: 2.8px;
  text-align: left;
  padding: 0 0 0 60px;
}

h1 {
  width: 252px;
  line-height: 1.25;
  letter-spacing: -0.24px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.bannerDiscription {
  display: none;
}

.bannerLinkbutton {
  background-color: #ffffff;
  text-align: center;
  width: 70px;
  height: 20px;
  margin: 11px 0px 0px 105px;
}

.bannerLinkbutton a {
  padding: 6px;
  color: black;
  text-decoration: none;
  font-size: 9px;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  display: block;
}

.bannerNote {
  position: absolute;
  font-size: 8px;
  bottom: 10px;
  left: 35px;
}

.buttonClick {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  width: 17%;
  height: 13%;
  background-color: #ffffff;
}

.buttonClickClick {
  margin: 0px 0.25px 0px 0.25px;
  float: right;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .carouselCaption {
    bottom: unset;
    top: 100px;
  }
}
@media screen and (min-width: 992px) {
  .bannerDiscription {
    display: block;
    width: 304px;
    font-size: 12px;
    line-height: 1.57;
    text-transform: uppercase;
    text-align: left;
  }
  .bannerSubtitle {
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 2.8px;
    padding: 0 0 0 147px;
    margin: 0 0 10px 0;
  }
  .carouselCaption {
    bottom: unset;
    top: 164px;
  }
  h1 {
    width: 376px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: -0.24px;
    margin-left: 40px;
    text-align: center;
  }
  .bannerDiscription {
    width: 376px;
    padding: 0;
    font-size: 14px;
    line-height: 1.57;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    text-transform: initial;
  }
  .bannerLinkbutton {
    width: 141px;
    height: 50px;
    margin: 78px 0 0 352px;
  }
  .bannerLinkbutton a {
    font-size: 14px;
    padding: 14px;
  }
}
