.maintain {
  float: left;
  width: 100%;
}
.maintainTitle {
  float: left;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0px 25px 0px;
}
/* GYPC mobile */
.maintainFrame {
  width: 100%;
  max-width: 1024px;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.maintainChildren {
  margin: 20px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.maintainChildren::after {
  content: " ";
  display: table;
}
.maintainFrame .maintainChildren:first-child p {
  color: black;
}
.maintainFrame .maintainChildren:nth-child(2n) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maintainFrame .maintainChildren:nth-child(2n + 1) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 21px 0;
}
.maintainFrame .maintainChildren:first-child {
  justify-content: unset;
  align-items: flex-start;
  padding: 30px 0 0 28px;
}
.maintainFrame:hover .maintainChildrenSubTitle {
  display: block;
}
.maintainChildrenSubTitle {
  position: relative;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: left;
  color: #fffefe;
  margin: 0;
  display: block;
}

.maintainChildrenTitle {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: left;
  color: #fffefe;
  margin: 0;
}
