.detailsOption {
  padding: 0 0 0 28px;
}
.formToCart {
  font-size: 10px;
  text-transform: uppercase;
}
.formToCart input {
  margin: 5px 0 5px 0;
}
.formToCart p {
  font-size: 10px;
  color: red;
  margin: -15px 0 22px 0;
  text-transform: initial;
}
.formLabel {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}
.radio {
  display: flex;
  height: 50px;
  margin: 10px 0 0 0;
}
.formLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.formLabel input:checked ~ .checkMark {
  border: 1px solid #00a99d;
}
.formLabel span {
  text-align: center;
  padding: 9px 0 0 0px;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}
.formLabel .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
}
.detailsOption button {
  border: none;
}
.btnFrame {
  width: 26px;
  height: 26px;
  margin: 20px 0 20px 0;
}
:global(.đen) {
  background-color: #000000;
}
:global(.hồng) {
  background-color: #eab7bc;
}
:global(.cam){
  background-color: #FFA500;
}
:global(.trắng){
  background-color: #ffffff;
}
:global(.đỏ){
  background-color: red;
}
.btnSize {
  border: 1px solid #000000;
  padding: 0;
}
.formToCart .btnSubmit {
  width: 138px;
  height: 42px;
  font-size: 13px;
  background-color: #00a99d;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.share {
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: -0.05px;
  margin: 21px 0 0 0;
  text-transform: uppercase;
}
.question {
  font-size: 10px;
  line-height: 1.8;
  letter-spacing: -0.05px;
  margin: 120px 0 0 0;
}
.question p {
  margin: 5px 0 0 0;
}
.question p:first-child {
  font-weight: bold;
  text-transform: uppercase;
}
