.Toastify {
    &__toast {
      border-radius: 4px !important;
      padding: 5px 10px !important;
      &--error {
        background-color: rgb(204, 61, 61) !important;
      }
  
      &--success {
        background-color: rgb(109, 208, 109) !important;
      }
      &--warning {
        background-color: rgb(195, 198, 67) !important;
      }
    }
  
    &__close-button {
      display: none;
    }
  
    &__toast-body {
      font-size: 13px;
    }
  }