/*MOBILE FIRST*/

.topBar {
  width: 100%;
  height: 57px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 0;
  border-bottom: 1px solid;
}

.topBarLogo {
  text-transform: lowercase;
  padding: 0 0 0 30px;
  color: black;
  text-decoration: none;
}

.topBarLogo h3 {
  font-size: 20px;
  margin: 0;
}

.topBarMobile {
  padding: 0 20px 0 0;
}

.topBarDesktop {
  display: none;
}

@media screen and (min-width: 992px) {
  .topBar {
    width: 100%;
    height: 57px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-bottom: 1px solid;
  }

  .topBarMobile {
    display: none;
  }

  .topBarLogo h3 {
    font-size: 30px;
    margin: 0;
  }

  .topBar ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 20px 0 0;
  }
  .topBar ul a {
    color: black;
  }
  .topBar li {
    margin: 10px 10px 10px 15px;
    font-size: 16px;
    font-weight: normal;
  }
}
