body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.đỏ {
  background-color: red;
  width: 20px;
  height: 20px;
}
.đen {
  background-color: #000000;
  width: 20px;
  height: 20px;
}
.hồng {
  background-color: #eab7bc;
  width: 20px;
  height: 20px;
}
.cam {
  background-color: #FFA500;
  width: 20px;
  height: 20px;
}
.trắng {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
}
